body {
    padding: 55px;
    background-image: linear-gradient(#000000b3, rgba(0,0,0,0.7)) , url(./imgs/background/Wallpaper-Fitness-Beauty-Model-Girl-Sport-Athlete-Make14-2048x1366.webp);
    color: white;

}


.carousel {
    padding-bottom: 5%;
}

.btn:hover {
    background-color: greenyellow;
    border-radius: 45%;
}

