{% extends "base.html" %}
{% block body %}
<div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
    <div class="mb-3 mt-5">
    <h1 class="text-center fw-bold">Scamazon</h1>
    </div>
    <div class="">
    <h4 class="text-center fst-italic">Here to scam</h4>
    </div>
</div>
<div class="container align-items-center">
    <div class="card text-center mb-3 pb-4 shadow-lg mb-4 bg-body-tertiary rounded">
        <div class="card-body">
          <h5 class="card-title fw-bold">Administrative Tools</h5>
          <p class="card-text mb-5">Tools to edit, delete, and add to a vendor's page</p>
          <a href="/admin" class="btn btn-success text-black fw-semibold">Go Now</a>
        </div>
    </div>

  <div class="card text-center mb-3 shadow-lg mb-4 bg-body-tertiary rounded">
    <div class="card-header">
      <div class="card-body">
          <h5 class="card-title fw-bold">Order Handling</h5>
          <p class="card-text mb-5">Change the status of orders</p>
          <a href="/admin_review" class="btn btn-success text-black fw-semibold">Orders</a>
      </div>
    </div>
  </div>

    <div class="card text-center mb-3 shadow-lg mb-4 bg-body-tertiary rounded">
    <div class="card-header">
      <div class="card-body">
          <h5 class="card-title fw-bold">Review Handling</h5>
          <p class="card-text mb-5">Change the status of reviews</p>
          <a href="/admin_complaints" class="btn btn-success text-black fw-semibold">Reviews</a>
      </div>
    </div>
  </div>

  <div class="card text-center mb-3 shadow-lg mb-4 bg-body-tertiary rounded">
    <div class="card-header">
      <div class="card-body">
          <h5 class="card-title fw-bold">Account Details</h5>
          <p class="card-text mb-5">Check the information about your account!</p>
          <a href="/accounts/information" class="btn btn-success text-black fw-semibold">Information</a>
      </div>
    </div>
  </div>

</div>
          <!-- </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">Become a Member Today</h5>
          <p class="card-text">Register today to become a member to get absolutely no benefits.</p>
          <a href="#" class="btn btn-success text-black fw-semibold">Register</a>
        </div>
      </div> --> 
      <!-- <div class="card text-center mb-4 shadow-lg mb-5 bg-body-tertiary rounded">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->

{% endblock %}