<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="./ProductCSS.css">
</head>
<style>
  p {
  text-transform:capitalize
  }
  img {
  height: 250px;
  width: 100px;
  }
</style>
<body>
<div>
    <form action="/admin_review_edit" method="POST">
        <select id="Status" name="status" required>
            <option value="">Select a Status</option>
            <option value="pending">Pending</option>
            <option value="confirmed">Confirmed</option>
            <option value="handed to delivery partner">Handed to Delivery Partner</option>
            <option value="shipped">Shipped</option>
        </select>
        <div>
            <input type="submit" value="Change Status" class="btn btn-success btn-lg">
        </div>
        <div class="row">
    {% for order in orders %}
    <input type="text" name="order_id" value="{{ order['order_id'] }}" style="display:none">
        <div class="col-sm-4 ">
          <div class="product-details">
            <p>Order Status: {{ order['order_status']}}</p>
            <p>Date of Order: {{ order['order_date'] }}</p>
            <p>Total: ${{ order['total'] }}</p>
            <p>Items: <br>{{ order['text'] }}</p>
          </div>
        </div>
    {% endfor %}
 </div>
    </form>
</div>
<!--    <h5>Items:</h5>-->
<!--    {% for item in items %}-->
<!--    <p>${{ item[0] }} - {{ item[1] }}</p>-->
<!--    {% endfor %}-->



  </body>
</html>
    
