<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
<a href="/customer_chats"><button>Back to chats</button></a>
<h1 style="text-align:center">LIVE CHAT</h1><br>
{% for message in messages %}
<p>{{ message['name'] }}: {{ message['text'] }}</p>
{% endfor %}
<form action="/chatting" method="POST">
    <input type="text" name="chat_id" value="{{ id }}" style="display:none">
    <label for="text">Message:</label><br>
    <textarea id="text" name="text" rows="5" cols="30" required></textarea>
    </p>

    <p style="text-align:center">
        <input type="submit" value="Send" class="input_submit">
    </p>
</form>
</body>
</html>
