{% extends "base.html" %}
{% block body %}
<body>
    <h1 style="text-align:center">Customer Complaint</h1>
    <form>
        <input type="text" name="review_id" value="{{ id }}" style="display:none">
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="5" cols="30" required></textarea>
      </p>
      <p>
        <label for="complaintType">Complaint Type:</label>
        <select id="complaintType" name="complaintType">
          <option value="Product">Refund</option>
          <option value="Service">Return</option>
          <option value="Delivery">Warranty</option>
        </select>
      </p>
<!--      <p>-->
<!--        <label for="currentDate">Date:</label>-->
<!--        <input type="date" id="currentDate" name="date">-->
<!--      </p>-->
      <p style="text-align:center">
        <button type="submit" onclick="submitForm()">Submit</button>
      </p>
    </form>
    <script>
      document.getElementById("currentDate").valueAsDate = new Date();
    </script>
</body>
{% endblock %}
