{% extends "base.html" %}
{% block body %}
<div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
    <div class="mb-3 mt-5">
    <h1 class="text-center fw-bold">Welcome to Scamazon</h1>
    </div>
    <div class="">
    <h4 class="text-center fst-italic">We will scam you</h4>
    </div>
</div>
<div class="container align-items-center">
    <div class="card text-center mb-3 pb-4 shadow-lg mb-4 bg-body-tertiary rounded">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link bg-success text-black fw-semibold" href="#">Leave a review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" href="#">Chat support</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">Shop Our Products Today!</h5>
          <p class="card-text mb-5">We sell cheap, overpriced products and will most likely rip you off one way or another</p>
          <a href="#" class="btn btn-success text-black fw-semibold">Shop now</a>
        </div>
      </div>
      <!-- <div class="card text-center mb-3 shadow-lg mb-4 bg-body-tertiary rounded">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <p class="nav-link text-black" href="#">Already have an account?</p>
              </li>
            <li class="nav-item">
              <a class="nav-link text-success text-underline" href="#">Login here</a>
            </li>
             <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          <!-- </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">Become a Member Today</h5>
          <p class="card-text">Register today to become a member to get absolutely no benefits.</p>
          <a href="#" class="btn btn-success text-black fw-semibold">Register</a>
        </div>
      </div> --> 
      <!-- <div class="card text-center mb-4 shadow-lg mb-5 bg-body-tertiary rounded">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
</div>
{% endblock %}