{% extends "base.html" %}
{% block body %}
<div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
    <div class="mb-3 mt-5">
    <h1 class="text-center fw-bold">Welcome to Scamazon</h1>
    </div>
    <div class="">
    <h4 class="text-center fst-italic">We will scam you</h4>
    </div>
</div>
<div class="container align-items-center">
    <div class="card mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header bg-success">
        </div>
        <div class="card-body">
          <h5 class="card-title fw-semibold">Shop Our Products</h5>
          <p class="card-text fw-semibold">Our products are garbage and we will charge outrageous prices, hell, we might just steal your money</p>
          <a href="#" class="btn btn-success fst-italic fw-semibold">Shop today! (you're a moron)</a>
        </div>
      </div>
      <div class="card mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header bg-success">
        </div>
        <div class="card-body">
          <h5 class="card-title fw-semibold">Shop Our Products</h5>
          <p class="card-text fw-semibold">Our products are garbage and we will charge outrageous prices, hell, we might just steal your money</p>
          <a href="#" class="btn btn-success fst-italic fw-semibold">Shop today! (you're a moron)</a>
        </div>
      </div>
      <div class="card mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header bg-success">
        </div>
        <div class="card-body">
          <h5 class="card-title fw-semibold">Shop Our Products</h5>
          <p class="card-text fw-semibold">Our products are garbage and we will charge outrageous prices, hell, we might just steal your money</p>
          <a href="#" class="btn btn-success fst-italic fw-semibold">Shop today! (you're a moron)</a>
        </div>
      </div>
</div>
{% endblock %}