<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
  p {
  text-transform:capitalize
  }
  img {
  height: 250px;
  width: 100px;
  }
</style>
<body>
<div>
    <button><a href="/customer_review">Back to Orders</a></button>
        <div class="row">

    {% for review in reviews %}
        <div class="col-sm-4 ">
          <div class="product-details">
              <input type="text" name="order_id" value="{{ review['review_id'] }}" style="display:none">
            <p>Items Ordered: {{ review['text']}}</p>
            <p>Comment: {{ review['comment'] }}</p>
              <p>Rating: {{ review['rating'] }}</p>
              <p>Date: {{ review['date'] }}</p>
              {% set rating = review['rating'] | int() %}
              {% if rating <= 3 %}
              <button><a href="/complaint/{{ review['review_id'] }}">Make a complaint</a></button>
              {% endif %}
          </div>
        </div>
    {% endfor %}
 </div>

</div>
<!--    <h5>Items:</h5>-->
<!--    {% for item in items %}-->
<!--    <p>${{ item[0] }} - {{ item[1] }}</p>-->
<!--    {% endfor %}-->



  </body>
</html>
    
