{% extends "base.html" %}
{% block body %}
<style>
  p {
  text-transform:capitalize
  }
  img {
  height: 250px;
  width: 100px;
  }
</style>
<body>
<div class="row">
    {% for order in orders %}

        <div class="col-sm-4 ">
          <div class="product-details">
            <p>Order Status: {{ order['order_status']}}</p>
            <p>Date of Order: {{ order['order_date'] }}</p>
            <p>Total: ${{ order['total'] }}</p>
            <p>Items: <br>{{ order['text'] }}</p>
          </div>
        </div>
    {% endfor %}
 </div>
<!--    <h5>Items:</h5>-->
<!--    {% for item in items %}-->
<!--    <p>${{ item[0] }} - {{ item[1] }}</p>-->
<!--    {% endfor %}-->



  </body>
  {% endblock %}
    
