{% extends "base.html" %}
{% block body %}
<!-- <style>
    header {
    color: white;
    background-color: green;
    width: 100%;
    padding: 20px;
    text-align: center;
    }
    .info {
        color: white;
        background-color: green;
        width: 15%;
        text-align: center;
    }
    .titles {
        color: white;
        background-color: green;
        width: 10%;
        text-align: center;
    }
</style> -->
    
<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 bg-success-subtle">
      <div class="container h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-5 fw-semibold">Account Details</h3>
        {% for use in user %}
            
            <div class="info bg-body-tertiary rounded p-4">
                <div>
                    <label class="fw-semibold">Account ID: {{ use['id'] }}</label>
                </div>
                <div>
                    <label class="fw-semibold">Name: {{ use['name'] }}</label>
                </div>
                <div>
                    <label class="fw-semibold">Email: {{ use['email'] }} </label>
                </div>
                <div>
                    <label class="fw-semibold">Username: {{ use['username'] }}</label>
                </div>
                <div>
                    <label class="fw-semibold">Password: {{ use['password'] }}</label>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
