{% extends "base.html" %}
{% block body %}
<style>
    header {
    color: white;
    background-color: green;
    width: 100%;
    padding: 20px;
    text-align: center;
    }
    .info {
        color: white;
        background-color: green;
        width: 15%;
        text-align: center;
    }
    .titles {
        color: white;
        background-color: green;
        width: 10%;
        text-align: center;
    }
</style>
    <header>
        <h1>Scammazon</h1>
    </header>
    <section>
        {% for use in user %}
            <h3 class="titles">Account</h3>
            <div class="info">
                <div>
                    <label>Account ID: {{ use['id'] }}</label>
                </div>
                <div>
                    <label>Name: {{ use['name'] }}</label>
                </div>
                <div>
                    <label>Email: {{ use['email'] }} </label>
                </div>
                <div>
                    <label>Username: {{ use['username'] }}</label>
                </div>
                <div>
                    <label>Password: {{ use['password'] }}</label>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
